<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>PirateKing</title>
    </head>
    <body>
        {{> header}}
        <p>
            King of Pirates
        </p>
        {{> footer}}
    </body>
</html>
